# OS
.DS_Store

#Windows temporary files
*.*~

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.pydevproject
.settings
atlassian-ide-plugin.xml

# Project database
*.db

#Environment file
.env

#Test Coverage file
.coverage

#Custom folders
generated_projects/
htmllint/
htmlcov/
test_projects/

test.sh
todo.txt
