Django==1.6.1
Jinja2==2.7.2
MarkupSafe==0.18
South==0.8.4
argparse==1.2.1
astroid==1.0.1
coverage==3.7.1
django-environ==0.2.1
django-jinja==0.23.1
django-vanilla-views==1.0.2
gunicorn==18.0
honcho==0.5.0
logilab-common==0.60.1
pylint==1.1.0
pylint-django==0.3
pylint-plugin-utils==0.1.1
virtualenv==1.11.2
wsgiref==0.1.2
