{% raw %}{% extends {% endraw %}"{{this.extend.name}}.html" {% raw %}%}{% endraw %}

{% for block in block_list %}
    {% raw %}
{% block {% endraw %}{{block.name}} {% raw %}%}{% endraw %}
block {{block.name}} on {{this.name}}
{% raw %}
{% endblock %}
    {% endraw %}
{% endfor %}

    