<html>

<body>

{% for block in block_list %}
    {% raw %}
{% block {% endraw %}{{block.name}} {% raw %}%}{% endraw %}
block {{block.name}} on {{base_template.name}}
{% raw %}
{% endblock %}
    {% endraw %}
{% endfor %}


</body>
</html>