"""
Django settings for {{project_name}} project.

For more information on this file, see
https://docs.djangoproject.com/en/1.6/topics/settings/

For the full list of settings and their values, see
https://docs.djangoproject.com/en/1.6/ref/settings/
"""

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
import environ
root = environ.Path(__file__) -1
env = environ.Env(DEBUG=(bool, False), DATABASE_URL=(str, "sqlite:////"+root("../../")+"/{{project_name}}.db"))
env.read_env(root('../.env'))

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = env("SECRET_KEY")

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = env("DEBUG")
TEMPLATE_DEBUG = DEBUG

ALLOWED_HOSTS = []


# Application definition

INSTALLED_APPS = (
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',	
	{% for pip in used_pips -%}
	'{{pip}}',
	{% endfor %}
	{% for app in used_apps -%}
	'apps.{{app.name}}',
	{% endfor %}
)

MIDDLEWARE_CLASSES = (
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
)

ROOT_URLCONF = 'confs.urls'

WSGI_APPLICATION = 'confs.wsgi.application'


# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases

DATABASES = {   
	'default': env.db('DATABASE_URL'),
}


# Internationalization
# https://docs.djangoproject.com/en/1.6/topics/i18n/

LANGUAGE_CODE = "{{language}}"

TIME_ZONE = 'UTC'

USE_I18N = {{use_i18n}}

USE_L10N = {{use_l10n}}

USE_TZ = True


# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/1.6/howto/static-files/

MEDIA_ROOT = root('../../media')
DEV_MEDIA_ROOT = root('../dev_media')

MEDIA_URL = '/media/'

STATIC_ROOT = root('../../static')
STATIC_URL = '/static/'

