from django.conf.urls import patterns, include, url

from django.contrib import admin
admin.autodiscover()

urlpatterns = patterns('',

    url(r'^admin/', include(admin.site.urls)),
    {% for app in app_list %}
    url(r'^{{app.get_sane_name()}}/', include('apps.{{app.get_sane_name()}}.urls')),
    {% endfor %}
    
    {% for view in override_app_prefix_list %}
    url(r'{{view.url_regex}}', apps.{{view.app.get_sane_name()}}.{{view.get_class_name()}}.as_view(), name="{{view.name}}"),
    {%endfor%}
    
)
