from vanilla import TemplateView
from vanilla import FormView

{% for view in view_list %}
class {{view.get_class_name()}}({{view.get_view_type()}}):
    template_name = "{{view.template.name}}"
    def get(self, request, *args, **kwargs):
        context = self.get_context_data()
        ###
        #TODO: your custom code goes here
        ###
        return self.render_to_response(context)
{% endfor %}